.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: lightcoral;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;


}

li {
    margin-left: 15px;
    margin-right: 15px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

ul li a:hover{
    color: rgb(224, 173, 144);
}

button {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 15px;
    font-size: 17px;
    border-radius: 60px;
    border-color: black;
    background-color: rgb(44, 173, 196);
    color: white;
    cursor: pointer;
}

button:hover{
    color: goldenrod;
}